{% extends "base.html" %}
{% block content %}

<div class="page center fade-in">

  

    <!-- 🌸 Soul Page Stickers -->

    <img src="{{ url_for('static', filename='stickers/gif1.gif') }}"
         class="sticker"
         style="top:8%; left:6%; width:340px;">

    <img src="{{ url_for('static', filename='stickers/gif2.gif') }}"
         class="sticker"
         style="top:10%; right:6%; width:330px;">

    <img src="{{ url_for('static', filename='stickers/gif3.gif') }}"
         class="sticker"
         style="bottom:15%; left:8%; width:320px;">

    <img src="{{ url_for('static', filename='stickers/gif4.gif') }}"
         class="sticker"
         style="bottom:18%; right:10%; width:230px;">

    
  
  <h2>Your Soul 🌷</h2>

    <div class="diary">
        <p>You are not loud, yet you are deeply felt.</p>
        <p>You carry a soulful warmth that touches quietly.</p>
        <p>You are Qurratul-Ayn — comfort and light to the heart.</p>
        <p>Vibing with you feels effortless… like peace.</p>
        <p>You’re amazing in the most natural way.</p>
        <p>And very, very cute — without even trying.</p>
    </div>

</div>

{% endblock %}
